.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -220px;
  margin-top: -270px;
  z-index: 1000;
  width: 440px;
  height: 540px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.form-box .form-first {
  line-height: 50px;
  margin-bottom: 100px;
}

.form-box .form-title {
  color: #52a2f4;
}

.form-box .form-skip a {
  display: inline-block;
  line-height: 50px;
}

.form-box .form-skip:hover {
  color: #52a2f4;
}

.form-box .form {
  margin-bottom: 60px;
}

.form-box .form-label {
  float: left;
  border-bottom: 1px solid #dfdfdf;
  color: #a4a4a4;
  line-height: 30px;
  width: 140px;
  height: 30px;
}

.form-box .form-input {
  float: left;
  width: 260px;
  height: 30px;
  color: #a4a4a4;
  border-bottom: 1px solid #dfdfdf;
}

.form-box .form-input input {
  color: #a4a4a4;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 10px;
  border-left: 1px solid #dfdfdf;
}

.form-box .form-input.form-message input {
  width: 60%;
}

.form-box .form-input.form-message span {
  display: inline-block;
  text-align: center;
  color: #52a2f4;
  cursor: pointer;
}

.form-box .forget-pwd {
  text-align: right;
}

.form-box .forget-pwd:hover {
  color: #52a2f4;
}

.form-box .form-btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #52a2f4;
  color: #fff;
  font-size: 18px;
  margin-top: 80px;
}

.form-box .form-btn:hover {
  background: #108fe5;
}

.form-box .form-btn.form-btn-top {
  margin-top: 40px;
}

.form-box .form-notice {
  text-align: center;
  line-height: 40px;
}

.form-box .form-notice:hover {
  color: #52a2f4;
}
