@import  "./_baseFunction";

.template-box{
  width: 1200px;
  margin: 0 auto 40px;
  .tab-bar{
    margin: 50px 0;
    height: 90px;
    line-height: 90px;
    background: #fafafa;
    li{
      width: 14.28%;
      text-align: center;
      float: left;
      font-size: 20px;
      cursor: pointer;
      &:hover{
        color: $blueColor;
      }
    }
    .active{
      color: $blueColor;
    }
  }
  .content-lf,.content-rt{
    position: relative;
    .wrap{
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5);
      padding-top: 300px;
      text-align: center;
      line-height: 80px;
      color: #fff;
      font-size: 28px;
      img{
        height: 210px;
      }
    }
    &:hover, &.active{
      .wrap{
        opacity: 1;
      }
    }
  }
}
@media (max-width:1199px){
  .template-box{
    width: 100%;
    margin: 0 auto 40px;
    .tab-bar{
      margin: 40px 0;
      height: 50px;
      line-height: 50px;
      li{
        font-size: 14px;
      }
    }
    .content{
      padding: 0 2%;
    }
    .content-lf,.content-rt{
      width: 46%;
      
      .template-img{
        width: 100%;
      }
      .wrap{
        padding-top: 30%;
        line-height: 50px;
        font-size: 18px;
        img{
          width: 60%;
          height: auto;
        }
      }
    }
  }
}