$header-color: #222430;
$font-color-one: #bbb;
$font-color-two: #555;
$font-color-three: #a3a3a3;
$font-color-four: #b94a48;
$font-color-five: #2589FF;
$font-size-one: 12px;
$font-size-two: 14px;
$font-size-three: 13px;
